.ant-layout {
  height: 100%;
}
.site-body {
    background-color: #f0f2f5;
    padding-top: 1em;
    /* padding: 2em 1em 1em; */
  }
  .site-header {
    background-color: #eeeeee;
    padding: 0;
    z-index: 1;
    width: 100%;
  }
  
  .site-header ul {
    width: 100%;
  }
  .site-footer{
    padding-top: 0;
    padding-bottom: 0;
    /* height: 3vh; */
    text-align: center;
  }

  .reg-cat {
      text-align: right;
  }