.site-body {
    background-color: #eeeeee;
    height: 85vh;
    padding: 2em 1em 1em;
  }
  .site-header {
    background-color: #eeeeee;
    height: 12vh;
    padding: 1em 0.5em 0em;
    z-index: 1;
    width: 100%;
  }
  
  .site-footer{
    padding-top: 0;
    padding-bottom: 0;
    height: 3vh;
    text-align: center;
  }

  .reg-cat {
      text-align: right;
  }