.site-body {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0.3em 5em 0 !important;
}

table {
    table-layout: fixed;
}

.ant-table-pagination.ant-pagination {
    margin: 1em
}

td.ant-table-cell {
    height: 5vh;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #fff;
}

th.ant-table-cell {
    height: 6vh;
}

.pop-button {
    text-align: right;
    margin-bottom: 5px;
}


/* Temporario */
.reg-cat {
    text-align: right;
    margin-bottom: 5px;
}

.btn-reg-cat {
    background-color: #318C8B;
    border: none;
}
