.thumb-img{
    width: 4.5vh;
}

.zoom-img {
    width: 15vh;
}

td.ant-table-cell { background-color: transparent !important; }


.bg-red { background-color: red !important; }

.bg-yellow { background-color: yellow !important;  }