.div-cm {
    display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.login-card {
    height: 30vh;
    width: 80vh;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-table {
    display: table;
    height: 100%;
    width: 100%;
}

.div-cm  .ant-card-head-title {
    font-family: 'Segoe UI', sans-serif;
    color: lightsalmon;
}