.nav-menu {
    min-height: 60px;
    max-height: 70px;
    background-color: #2f2f2f !important;
    /* border-radius: 10px; */
    /* margin: 1em 0.5em; */
    
}

.logo{
    max-height: 55px;
    max-width: 90px;
}

.last-item{
    float: right;
}

.user-mini {
    height: 100%;
    
}


.ant-menu-item {
    border-bottom: none !important;
}